<div id="<%= dom_id file_record %>">
  <p>
    <strong>Title:</strong>
    <%= file_record.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= file_record.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= file_record.user_id %>
  </p>

</div>
